@media screen and (max-width:576px) {
    .header {
        
        flex-direction: column;
    }
    .Menuheader ul li a {        
        font-size: 1rem;        
    }
    .banerContent {
        width: 100%;
    }
    .banerContent h1 {
        font-size: 2rem;
        
    }
    .Menuheader ul li {
        
        margin-right: 18px;
    }
    .Menuheader ul {
       
        margin: -20px 0px;
    }
        /* future */
        .futureSection {
           
            flex-direction: column;
        }
        .futureImg {
            
            grid-gap: 3%;
            width: 100%;
        }
        .futureContent {          
            width: 100%;          
        }
        .futurecontent2  h1{
            font-size: 1.8rem;
            text-align: center;
        }
        .futurecontent2  p{
            
            text-align: center;
        }
        .futurecontent2  button{
            
            text-align: center;
        }
        .futurecontent2  button {
            text-align: center;
            width: 100%;
        }

        /* future list  */
        .futureList {
            
            flex-direction: column;
        }
        .futurelistContent {
            width: 100%;
           
        }
        .futurelistContent h1 {
            font-size: 3rem;
            width: 100%;
           text-align: center;
        }
        .futurelistContent p {
            text-align: center;
            width: 100%;
            font-family: "Work Sans", serif;
        }
        .listitem {
    
            width: 100%;
            padding: 10px;
            border-radius: 10%;
            margin-top: 3%;
        }
        .futurelistImg button {
            left: -55px;
           
        }
}