@media screen and (max-width:576px) {
    .header {
        
        flex-direction: column;
    }
    .Menuheader ul li a {        
        font-size: 1rem;        
    }
    .banerContent {
        width: 100%;
    }
    .banerContent h1 {
        font-size: 2rem;
        
    }
    .Menuheader ul li {
        
        margin-right: 18px;
    }
    .Menuheader ul {
       
        margin: -20px 0px;
    }
        /* future */
        .futureSection {
           
            flex-direction: column;
        }
        .futureImg {
            
            grid-gap: 3%;
            width: 100%;
        }
        .futureContent {          
            width: 100%;          
        }
        .futurecontent2  h1{
            font-size: 1.8rem;
            text-align: center;
        }
        .futurecontent2  p{
            
            text-align: center;
        }
        .futurecontent2  button{
            
            text-align: center;
        }
        .futurecontent2  button {
            text-align: center;
            width: 100%;
        }
}