@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    width: 80%;
    margin: 0 auto;
}
.headerHead{
    
   
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.Loguheader h3{
    font-size: 2.8rem;
}
.Menuheader ul{
    display: flex;
}
.Menuheader ul li{
    list-style: none;
    margin-right: 25px;
 
}
.Menuheader ul li a{
    text-decoration: none;
    font-size: 1.7rem;
    color: rgb(6, 0, 12);
}

/* banner section */
.banerSection{

}
.banerContent{
    width: 45%;
    margin: 0 auto;
    text-align: center;
}
.banerContent h1{
    font-size: 3rem;
    font-weight: 700;
}
.banerContent p{
    color: rgb(128, 140, 150);
    font-size: 1.1rem;
    font-family: "Work Sans", serif;
   font-weight: 400;
}
.bannerButton button{
padding: 20px 30px;
border-radius: 7px;
border: none;
background-color: orange;
margin-bottom: 20px;
font-size: 1.2rem;
color: aliceblue;

}
img{
    width: 100%;
}


/* futureSection */
.futureSection{
    display: flex;
    margin-top: 60px;
}

.futureImg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    width: 50%;
}
.futureContent{
    display: flex;   
    align-items: center;
    width: 40%;
    margin: 0 auto;
       
}
.futurecontent2 button{
    padding: 20px 30px;
border-radius: 7px;
border: none;
background-color: orange;
margin-bottom: 20px;
font-size: 1.2rem;
color: aliceblue;

}
.futurecontent2 span{
    color: orange;
    font-family: 900;
}
.futurecontent2 p{
    font-family: "Work Sans", serif;
    font-weight: 400;
}
.futurecontent2  h1{
    font-size: 2.5rem;
}
